/* 
.acc :global(.general-details){
    display: flex;
    gap: 20px;
    flex-direction: column;
    width: 100%;
}

.acc :global(.info){
    display: flex;
    gap: 30px;
} */

.acc :global(.title) {
    font-size: 2rem;
    color: #000;
    font-weight: 500;
}

.acc :global(.general-details) {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    padding: 5px 0;
}

.acc :global(.general-details .info) {
    display: flex;
    gap: 5px;
    align-items: center;
    color: #000;
    font-size: 1.4rem;

}

.acc :global(.dot) {
}

.acc :global(.rating svg){
    position: relative;
    top: 1.5px;
}
.acc :global(.rating){
    font-size: 1.5rem;
}

.acc :global(.reviews){
    text-decoration: underline;
    cursor: pointer;
}

.acc :global(.location){
    text-decoration: underline;
    cursor: pointer;
}