.acc :global(.img-container) {
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    /* height: 290px; */
    aspect-ratio: 1/1;
}

.acc :global(.img-container):hover img {
    transition: 0.1s all ease-in;
    scale: 1.1;
}

.acc :global(.img-container img) {
    height: 100%;
    width: 100%;
    object-fit: cover;
    vertical-align: middle;
}

.acc :global(.location-rating) {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.acc :global(.rating) {
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 4px;
}

.acc :global(.rating span) {
    position: relative;
    top: 1px;
}

.acc :global(.location) {
    font-weight: 600;
    font-size: 1.6rem;
}

.acc :global(.price-details){
    margin-top: 5px;
}

.acc :global(.price-details span) {
    font-weight: 600;
    font-size: 1.6rem;
    
}

.acc :global(.location-info) {
    font-weight: 600;
    color: var(--color-grey-500);
    font-size: 1.2rem;
}

.acc :global(.suggestion-interval) {
    color: var(--color-grey-500);
    font-size: 1.4rem;

    display: flex;
    gap: 5px;
}

.acc :global(.details) {
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding: 10px;
}

.acc :global(.price-max) {
    display: flex;
    justify-content: space-between;
}

